body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 35px;
}

.nav-item {
    padding: 0 18px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.title {
    padding-top: 5%;
}

.download-button {
    padding-top: 5%;
    word-spacing: 10px;
}

.dog-img {
    width: 60%;
    transform: rotate(25deg);
}

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    padding-bottom: 10px;
}

.feature-icon:hover {
    color: #ff4c68;
}

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 5px 20px 30px;
}

#pricing {
    text-align: center;
    padding: 7% 15%;
}

.card {
    margin: 5%;
}

.button-card {
    width: 80%;
}

#cta {
    background-color: #FF4C68;
    padding: 7% 15% 10%;
    text-align: center;
}

.cta-text {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.button-cta {
    margin: 10px;
}

#footer {
    text-align: center;
    padding: 10% 15%;
}

.ft-icons {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF4C68;
}

@media only screen and (max-width: 1028px) {
    h1 {
        text-align: center;
    }

    .dog-img {
        padding-top: 30px;
        transform: rotate(0);
        margin-left: 20%;
    }

    .download-button {
        text-align: center;
    }

    .nav-item {
        text-align: center;
    }

}